<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
        <%= title %>
    </title>
    <script src="https://cdn.tailwindcss.com"></script>

<body
    class="bg-gradient-to-tr from-purple-900 via-purple-700 to-yellow-400 min-h-screen flex items-center justify-center p-4">
    <main class="rounded-xl shadow-2xl max-w-3xl w-full pt-12 pb-4 flex flex-col text-white bg-transparent"
        id="form-data-container">
        <h1 class="text-5xl font-extrabold text-center mb-4 select-none">404</h1>
        <p class="text-center text-lg font-bold text-purple-200 mb-8">Form is not found!</p>
    </main>
</body>
</head>

</html>